<div class="col-12 mx-auto py-5" style="background-color: rgba(193, 193, 193, 0.62);" >
    <div class="text-center">
        <h1>Unlimited movies, TV</h1>
        <h1>shows and more.</h1>
    <h3>Watch anywhere. Cancel anytime.</h3>
    <p>Ready to watch? Enter your email to create or restart your membership.</p>
    
    </div>
    <div class="w-50 mx-auto input-group mb-3">
        <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon2">
        <span class="input-group-text bg-danger text-white " id="basic-addon2">Get Started ></span>
      </div>
    
</div>
