
<div class="container-fluid p-4 mt-5 position-relative bg-dark bottom-0">
    <div class="mx-5 text-light">
        <h5 class="px-3 py-3 mb-2">Questions? Call 000-800-040-1843</h5>
        <div class="d-flex justify-content-around">
            <ul class="navbar-nav" >
                <li>FAQ</li>
                <li>Investor</li>
                <li>Terms</li>
                <li>Notice Only</li>
                <li>Use Privacy</li>
            </ul>
            <ul class="navbar-nav">
                <li>Help</li>
                <li>Policy</li>
                <li>Information</li>
                <li>Contact</li>
                <li>Privacy</li>
            </ul>
            <ul class="navbar-nav">
                <li>Centre</li>
                <li>Corporate Information</li>
                <li>Investor Relations</li>
                <li>AccountMedia Centre</li>
                <li>Speed Test</li>
            </ul>
            <ul class="navbar-nav">
                <li>Legal Notices</li>
                <li>Netflix</li>
                <li>to Watch</li>
                <li>Contact Us</li>
                <li>Cookie Preferences</li>
            </ul>
        </div>
    </div>
</div>
